<h1>Post</h1>
  <% @articles.each do |article| %>
          <p><%= link_to article.title, article %></p>
  <% end %>

<p><%= link_to "New Article", new_article_path %></p>

<div>
  <%= link_to 'Previous page', root_path(page: @page - 1) %>
  <%= link_to 'Next page', root_path(page: @page + 1) %>
</div>
